node_modules
.next
.git
.github/CODEOWNERS
.vscode
.vercel
.data
.tmp
.runtime
artifacts
coverage
app
components
docs
fixtures
native
pages
public
*.log
.env
.env.*
!.env.example
!.github/workflows/*.yml
